Source: libindy
Section: devel
Priority: optional
Maintainer: Hyperledger <info@hyperledger.org>
Build-Depends: libssl-dev, libsqlite3-dev, libzmq3-dev
Standards-Version: 1.0.0
Vcs-Git: https://github.com/hyperledger/indy-sdk/
Vcs-Browser: https://github.com/hyperledger/indy-sdk/


Package: libindy
Architecture: amd64
Depends: libssl1.0.0, libsqlite0, libzmq5
Suggests: build-essential
Description: This is the official SDK for Hyperledger Indy, which provides a
  distributed-ledger-based foundation for self-sovereign identity.
  The major artifact of the SDK is a c-callable library; there are
  also convenience wrappers for various programming languages.
  All bugs, stories, and backlog for this project are managed through
  Hyperledger's Jira in project IS (note that regular Indy tickets are
  in the INDY project instead...). Also, join us on Jira's Rocket.Chat
  at #indy-sdk to discuss.


Package: libindy-dev
Architecture: amd64
Depends: libindy
Suggests: build-essential
Description: This is the official SDK for Hyperledger Indy, which provides a
  distributed-ledger-based foundation for self-sovereign identity.
  The major artifact of the SDK is a c-callable library; there are
  also convenience wrappers for various programming languages.
  All bugs, stories, and backlog for this project are managed through
  Hyperledger's Jira in project IS (note that regular Indy tickets are
  in the INDY project instead...). Also, join us on Jira's Rocket.Chat
  at #indy-sdk to discuss.
