
	if target.contains("arm-linux-androideabi") ||
       target.contains("armv7-linux-androideabi") ||
       target.contains("x86_64-linux-android") ||
       target.contains("i686-linux-android") || 
       target.contains("aarch64-linux-android") {
        let libindy_lib_path = env::var("LIBINDY_DIR").unwrap();
        println!("cargo:rustc-link-search=native={}",libindy_lib_path);
    }
}