alabaster==0.7.12
asn1crypto==0.24.0
Babel==2.6.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
CommonMark==0.5.4
conda==4.5.12
cryptography==2.4.2
docutils==0.14
idna==2.7
imagesize==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
packaging==18.0
pycosat==0.6.3
pycparser==2.18
Pygments==2.3.1
pyOpenSSL==18.0.0
pyparsing==2.3.0
PySocks==1.6.8
pytz==2018.7
recommonmark==0.4.0
requests==2.19.1
ruamel-yaml==0.15.46
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
urllib3==1.23
